@layout('layouts/main')
@set('title', 'หน้าแรก')

@section('body')
  <div class="container pl-3 pr-3 pt-3 pb-3">
    <div>
    </div>
    <div class="text-center">
      <h1>ระบบแก้ไขผลการเรียนของนักเรียนโรงเรียนภูเขียว</h1>
      <a href="{{ route('service.fixGrade')}}" class="btn btn-outline-dark btn-lg">บันทึกการแก้ไขผลการเรียน</a>
    </div>
  </div>
@endsection
